body {
  font-family: 'Roboto Slab', serif;
}


.img {
  margin-top: 100px;
  text-align: center;

  
    
}

img{
  display:inline-block;
  border-radius: 15px;
  width: 350px;
  height: 300px;
}

footer,
.press,
.button {
  text-align: center;

}

ul {
  list-style-type: none;
}



label {
  display:block;

  border: 1px solid black;
  width: 320px;
 margin: auto;
  padding: 13px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
}

a {
    text-decoration: none;
display: block;
}

.button {
  background-color: lightgreen;
  padding: 10px;
}

input.button {
    
    margin: auto;
    margin-top: 20px;
}

.right {
  background-color: #2ECC71;
  color: white;
}

.right>a,
.wrong>a {
  color: white;
}

.wrong {
  background-color: #CC2427;
}

input {
  display: block;
}

label:hover {
  background-color: #D3D3D3;
}

/*.right:has(Label) {
  font-size: 24px;
  background-color: yellow;

}*/

/*INDICATION*/


.indication table {
 
  width: 400px;

  position: fixed;
  background-color: lightgrey;
  border-collapse: separate; 
  border-spacing: 5px 10px;
  border-color: black;
  empty-cells: show;
 left: 3%;
 top: 5px;
}

td{
  width: 10px;
  height: 10px;
  text-align: center;
}

.square>td{
  border: 1px solid black;
    width: 10px;
  height: 20px;
  background-color: #F0F0F0;
}

td.right{
  background-color: green;
}

td.wrong {
  background-color: red;
}

footer{
  margin-top: 50px;
  background-color: #D3D3D3;
  border-top: 2px solid #4C525B;
}

/*SotialBUTTONS*/
#share {
  width:100%;
  border:1px solid #eaeaea;
  margin: 0 auto;
  background:#fff;
  text-align:center;
}
.like {
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
}
.push {
  display: inline-block;
  width: 17%;
  min-width: 100px;
  line-height: 40px;
  margin: 5px 2px 20px 2px;
  font-size: 15px;
  text-align: center;
  color:#fff;
  cursor: pointer;
}
 
.facebook {background-color:#3b5998;}
.facebook:hover {background-color:#2d4373; color:#fff;}
.google {background-color:#dd4b39;}
.google:hover {background-color:#c23321; color:#fff;}
.twitter {background-color:#55acee;}
.twitter:hover {background-color:#2795e9; color:#fff;}
.vkontakte {background-color:#587ea3;}
.vkontakte:hover {background-color:#466482; color:#fff;}
.ok {background-color:#ee8208;}
.ok:hover {background-color:#ee7808; color:#fff;}