body {
  margin:0;
  padding:0;
  font-size: 18px;
}

#mytimer{
  color: red;
}
 table {
    
    border-collapse: separate; /* Способ отображения границы */ 
    width: 50%; /* Ширина таблицы */ 
    border-spacing: 5px 1px; /* Расстояние между ячейками */ 
   font-size: 1.2em;
   font-weight: 600;
   font-family: monospace;
   }
tr {
  padding-top:10px;
  height: 30px;
}
.btn {
  margin: 40px;
}